<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/style.css') }}">

    <title>CSV Uploader</title>
    <script>
        function toggleUpload() {
            var uploadSection = document.getElementById('upload-section');
            var selectedCategory = document.querySelector('input[name="category"]:checked');
            if (selectedCategory) {
                uploadSection.style.display = 'block';
            } else {
                uploadSection.style.display = 'none';
            }
        }

        function showSpinner() {
            var spinner = document.getElementById('spinner');
            spinner.style.display = 'block';
        }
    </script>
</head>
<body>
    <header class="header">
        <div class="header-content">
            <h1>University of Arizona</h1>
            <h2>Law School Database CSV Uploader</h2>
        </div>
    </header>

    <main class="main-content">
        <div class="form-container">
            <h3>Select a Category and Upload Your File</h3>
            <form action="{{ url_for('upload_bp.upload_file') }}" method="POST" enctype="multipart/form-data" onsubmit="showSpinner()">
                <div class="radio-group">
                    {% for category in categories %}
                        <label>
                            <input type="radio" name="category" value="{{ category }}" onclick="toggleUpload()">
                            {{ category | capitalize }}
                        </label>
                    {% endfor %}
                </div>

                <div id="upload-section" style="display: none; margin-top: 20px;">
                    <input type="file" name="file" accept=".csv" required>
                    <button type="submit">Upload</button>
                </div>
            </form>

            <div id="spinner" class="spinner" style="display: none;">
                <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
                <p>Processing your file, please wait...</p>
            </div>

            {% if message %}
            <div class="message">
                {{ message }}
            </div>
            {% endif %}
            <button onclick="window.location.href='{{ url_for('home') }}'" class="back-button">⬅ Back to Home</button>
        </div>
    </main>

    <!-- Footer -->
    <footer class="footer">
        <p>&copy; 2025 University of Arizona Law School | All Rights Reserved</p>
    </footer>
</body>
</html>

